/*Import fonts*/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');


/*
--------------------------------------------------------
--------------------------------------------------------
------------sizing for all page components--------------
--------------------------------------------------------
--------------------------------------------------------
*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

/*styling for the whole page*/
html,body{
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/*styling for the main container*/

body {
    margin:0;
    min-height: 100vh;
    overflow: auto;
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}


/* 
-------------------------------------------------------
-------------------------------------------------------
-----------------Styles for html tags------------------
-------------------------------------------------------
-------------------------------------------------------
*/
a,p,label,h2,h3,h4,h5,h6{
    color: #000;
}
h1{
    text-shadow: 1px 1px 10px #000;
    color: #fff;
}
.fa{
    color: rgba(0, 0, 0, 0.5);
}
.fa-search{
    font-size: 13px;
}
a, a:hover{
    text-decoration: none;
}


/* 
-------------------------------------------------------
-------------------------------------------------------
-----------------styling for the header----------------
-------------------------------------------------------
-------------------------------------------------------
*/
nav{
    width: 100%;
    margin: 0;
}
.navbar{
    margin: 0;
}
.navbar-header{
    display: none;
}

/*Settings for the loader*/
.loader-holder{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    left:0;
    right: 0;
    bottom:0;
    top:0;
    position: fixed;
}
.loader{
    z-index: 1;
    width: 50px;
    height: 60px;
    border-radius: 3px;
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    top:0;
    margin: auto;
    border: 2px solid rgb(39, 38, 38);
    background: #fff;
    animation: round 6s linear infinite;
}
@keyframes round{
    from{transform:rotate(0deg)}
    to{transform: rotate(180deg)}
}


/*settings for the logo */
.nav-logo{
    font-size: 28px;
}
.navbar .nav-menu .navbar-nav{
    float: right;
}
.navbar .nav-menu .navbar-nav li a{
    margin-left:10px;
}


/*styling for the section elements*/
section{
    width: 100%;
    margin: auto;
    padding: 1% 5%;
    margin-bottom: -50px; 
    text-align: center;
}
.welcome-card{
    border: none;
}
.featured{
    width: 80%;
    margin: auto;
}
.featured .card{
    margin: 0 2.7%;
    cursor: pointer;
    box-shadow: 1px 1px 10px silver;
}
.featured .card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.popular-stories{
    width: 76%;
    margin: auto;
    margin-top: 3%;
    text-align: left;
}
.popular-img img{
    width: 100%;
    border: solid 1px silver;
    border-radius: 4px;
}
.view-more{
    padding:1% 3%;
    text-align: right;
    width: 100%;
}

/* 
-------------------------------------------------------
-------------------------------------------------------
------------styling for the single post page-----------
-------------------------------------------------------
-------------------------------------------------------
*/
.story{
    margin: auto;
    width: 70%;
    padding: 1%;
}
.story img{
    width: 95%;
    border: solid 1px #fff;
    border-radius: 6px;
    margin:auto;
}
.story p {
    line-height: 2em;
}
.profile{
    margin: auto;
    width: 100%;
    overflow-wrap: break-word;
}
.story .profile .profile-pic{
    border-radius: 50%;
    border: solid 1px silver;
    width:30px;
    height: 30px;
    margin:auto;
}
.profile .btn{
    padding: 1px;
    font-size: 10px;
    float: left;
}
.button{
    font-size: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: solid 1px gray;
}
.user-tag{
    font-family: 'Patrick Hand', cursive;
    margin:0;
    color: teal;
    font-size: 14px;
}
fieldset button{
    margin: 0.3%;
}
.options{
    background: red;
    width: 44px;
    height: 44px;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    float: left;
    bottom: 0;
    margin-bottom: 35px;
    z-index: 1;
    right:0;
    margin-right: 84px;
    position: fixed;
    font-size: 22px
}
.options-list{
    width: 4px;
    border: none;
    bottom: 0;
    z-index: 1;
    right:0;
    margin-right: 110px;
    position: fixed;
    margin-bottom: 75px;
    border-radius: 0;
    background: inherit;
    display: none;
    font-size: 20px;
}
.options-list i{
    cursor: pointer;
    margin-bottom: 25px;
}
.options-list i span{
    font-size: 12px;
}
.options:focus{
    outline: none;
}

/*styling for comments */
.comments{
    width: 70%;
    padding:0;
    margin: auto;
    text-align: left;
    display: none;
}
.comments textarea{
    width: 100%;
    border: none;
    height: 50px;
}
.comments textarea:focus{
    outline: none;
}
.comments-icons i{
    text-align: right;
}
.comments .btn{
    margin: 0.3% 2%;
    float: right;
}
.comment{
    text-align: left;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding: 2%;
    border-radius: 5px;
}
.comment-of-comment{
    width: 85%;
    font-size: 12px;
    margin-left: 15%;
    border-left: 1px solid silver;
    padding-left: 3%;
}
#comment-button{
    cursor: pointer;
    width: 70%;
    margin: auto;
    text-align: left;
}

/* styling for the signup modal */

#signup-modal, #login-modal{
    position:fixed;
    overflow: auto;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3000;
    background: rgba(58, 58, 58, 0.8);
    display: none;
}
.signup-content, .login-content{
    background: white;
    width: 40%;
    margin: auto;
    padding: 2%;
    margin-top: 30px;
    border-radius: 3px;
}
.login-content{
    padding: 3%;
    width: 35%;
    margin-top: 60px;
}
.signup-content input, .login-content input{
    margin: 2%;
}
.signup-content .btn, .login-content .btn{
    margin: 1%;
}
.signup-content form, .login-content form{
    width: 70%;
    margin: auto;
}
.signup-content .licence{
    font-size: 12px;
    width: 60%;
    margin: 2% auto;
}
.close, .close-login {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-login:hover,
.close-login:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


/* 
-------------------------------------------------------
-------------------------------------------------------
-----------------styling for the footer----------------
-------------------------------------------------------
-------------------------------------------------------
*/
footer{
    border-top: solid 1px silver;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.links i{
    padding: 1%;
}







/* Set display on mobile devices */
@media only screen and (max-width: 764px){
    .navbar-header{
        display: block;
        float: right;
        border: none;
        background: silver;
    }
    .navbar .nav-menu .navbar-nav{
        width: 100%;
    }
    section fieldset{
        width: 80%;
        margin: auto;
        margin-top: 3%;
    }
    .featured .card{
        margin-bottom: 30px; 
    }
    fieldset .btn{
        padding: 2%;
        font-size: 14px
    }
    .options{
        background: red;
        width: 35px;
        height: 35px;
        color: white;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        float: left;
        margin-bottom: 10%;
        right:0;
        margin-right: 20px;
        position: fixed;
        font-size: 16px
    }
    .options-list{
        font-size: 20px;
        margin-right: 40px;
        margin-bottom: 20%;
        z-index: 2000;
    }
    .options-list i{
        margin-bottom: 18px;
    }
    .options-list i span{
        font-size: 7px;
    }
    .signup-content, .login-content{
        width: 95%;
        overflow: auto;
    }
}